<div th:fragment="changer">
    <ul class="navbar-nav ms-3 mb-2 mb-lg-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-circle-half fs-5"></i>
            </a>
            <ul id="theme-switcher" class="dropdown-menu">
                <li>
                    <a data-theme="auto" class="dropdown-item" href="#">
                        <i class="bi bi-circle-half fs-5"></i> Auto
                    </a>
                </li>
                <li>
                    <a data-theme="light" class="dropdown-item" href="#">
                        <i class="bi bi-brightness-high fs-5"></i> Light
                    </a>
                </li>
                <li>
                    <a data-theme="dark" class="dropdown-item" href="#">
                        <i class="bi bi-moon"></i> Dark
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>