.logo{
    font-size: 2.7em;
}
.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.input-file + label {
    color: white;
    display: inline-block;
}
.input-file + label {
    cursor: pointer;
}